/**
*
*
* Custom section margins and responsive (disable padding on page)
*
*/


.kv-content-wrapper {
 max-width: 1188px;
 margin: 0 auto;
 margin-top: 20px;
 margin-bottom: 25px;
}

@media only screen and (min-width: 960px) and (max-width: 1239px) {
   .kv-content-wrapper { max-width: 908px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.kv-content-wrapper {max-width: 676px;}
}

@media only screen and (min-width: 700px) and (max-width: 767px) {
.kv-content-wrapper {max-width: 668px;}
}

@media only screen  and (max-width: 699px) {
.kv-content-wrapper {max-width: 699px; padding-left: 16px; padding-right: 16px;}
}


/**
*
* custom paragraphs
*
*
*/

/* a paragraph proceeded by another paragraph will have a top margin */
p.big + p.big {
    margin-top: 0.60em;
}



.kv_lista_competencias {

   margin-bottom: 0.79em !important;

}


/**
*
*
*  Custom title
*
*/


.kv-page-title {
 margin-bottom: 20px !important;
}





/**
*
*  custom color classes
*
*/


/* Mobile menu background highlighted color */
@media only screen and (max-width: 959px) {
	#Header #menu > ul > li.current-menu-item > a,
        #Header #menu > ul > li.current_page_item > a,
         #Header #menu > ul > li.current-menu-parent > a,
         #Header #menu > ul > li.current-page-parent > a,
          #Header #menu > ul > li.current-menu-ancestor > a,
          #Header #menu > ul > li.current_page_ancestor > a   { 

          background:rgba(0,0,0,.02)
        }
}


/* kv colors */
.kv_darkblue {
color:#1D3860 !important;
}

.kv_midblue {
color:#0A5A8E !important;
}

.kv_lightblue, .kv_blue {
color: #2277bb !important;
}

.kv_white {
color: #ffffff !important;
}


.kv_background_brown70 {
background-color: rgba(166, 146, 86, 0.7);
}


.kv_background_blue85 {
background-color: rgba(34, 119, 187, 0.85);
}

.kv_background_blue {
background-color: rgba(34, 119, 187, 1.0);
}

.kv_background_darkblue {
  background-color: #1D3860;
}

/**
*
* Footing adjustments
*
*
*/

#Footer .footer_copy {
 border-top: 0 solid rgba(255,255,255,.1);
}


#Footer .footer_copy .one {
    margin-bottom: 0;
    padding-top: 0;
    min-height: 33px;
}

.footer-copy-center #Footer .footer_copy a#back_to_top {
    float: right;
}

/* vertical center copyright text */
.footer-copy-center #Footer .footer_copy .copyright {
	margin: 8px 0 8px 0;
}

/* remove margin on back to top icon to reduce line height */
.footer-copy-center #Footer .footer_copy a#back_to_top {
	margin: 0;
}



/*  Remove Widget Wrapper from Footer */

#Footer .widgets_wrapper { display: none;}



/**
*
* Custom font styling
*
*
*/

.kv_400 {
   font-weight: 400 !important;
}


.kv_600 {
   font-weight: 600 !important;
}






/**
*
*
*  Custom typography
*
*
*/

.kv_no_margin_bottom {
  margin-bottom: 0;
}

.kv_header_half_bottom_margin {
  margin-bottom: 0.4em;
}

/*
*
* set shortcodes font-weight to 300
*
*/

/* Forms */
label,legend{font-weight:300;}

/* Lists */
dl > dt{font-weight:300;}

/* Muffin link, Effect 4, Effect 8 */
a.mfn-link-4{font-weight:300;}
a.mfn-link-8{font-weight:300;}

/* Accordion */
.accordion .question .title{font-weight:300;}

/* FAQ */
.faq .question .title .num {font-weight:300;}

/* Table */
table th{font-weight:300;}


/* List */
.list_item .circle{font-weight:300;}

/* Pricing Table */
.pricing-box-label ul li{font-weight:300;}

/* Progress Bar */
.progress_bars .bars_list li h6 .label{font-weight:300;}

/* Content links */
a.content_link .title{font-weight:300;}

/* Opening hours */
.opening_hours .opening_hours_wrapper li label{font-weight:300;}

/* Quick fact */
.style-simple .quick_fact .title{font-weight:300;}






/**
*
* set font sizes  - change font size by width in Responsive
*
*
*/

body {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0;
}

big,
.big {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0;
}


#menu > ul > li > a,
#menu .sub-menu span,
a.button.action_button,
#overlay-menu ul li a,
.wpml-ls-menu-item {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

#Filters, .kv_button {font-size: 18px;}


#overlay-menu ul li a {
    line-height: 17px;
}

#Subheader .title {
    font-size: 38px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0;
}

h1,
.text-logo #logo,
.p1 {
    font-size: 44px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0;
}

h2, .p2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0;
}

h3, .p3 {
    font-size: 33px;
    line-height: 41px;
    font-weight: 300;
    letter-spacing: 0;
}

h4, .p4 {
    font-size: 29px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0;
}

h5, .p5 {
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 0;
}

h6, .p6 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0;
}

#Intro .intro-title {
    font-size: 44px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0;
}



.kv-fred-graph-units {
	  font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0;
}
	


@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }
    big,
    .big {
        font-size: 20px;
        line-height: 24px;
    }
  #menu > ul > li > a,
	#menu .sub-menu span,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
	
		#Filters, .kv_button {font-size: 17px;}
	
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 32px;
        line-height: 32px;
    }
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2, .p2 {
        font-size: 32px;
        line-height: 40px;
    }
    h3, .p3 {
        font-size: 29px;
        line-height: 36px;
    }
    h4, .p4 {
        font-size: 26px;
        line-height: 31px;
    }
    h5, .p5 {
        font-size: 22px;
        line-height: 26px;
    }
    h6, .p6 {
        font-size: 20px;
        line-height: 24px;
    }
    #Intro .intro-title {
        font-size: 36px;
        line-height: 44px;
    }
    blockquote {
        font-size: 18px;
    }
    .chart_box .chart .num {
        font-size: 44px;
        line-height: 44px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 44px;
        line-height: 44px;
    }
    .counter .desc_wrapper .title {
        font-size: 18px;
        line-height: 24px;
    }
    .faq .question .title {
        font-size: 18px;
    }
    .fancy_heading .title {
        font-size: 40px;
        line-height: 40px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .pricing-box .plan-header h2 {
        font-size: 33px;
        line-height: 33px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 41px;
        line-height: 41px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 24px;
        line-height: 24px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 18px;
        line-height: 18px;
    }
    .quick_fact .number {
        font-size: 61px;
        line-height: 61px;
    }
    .trailer_box .desc h2 {
        font-size: 33px;
        line-height: 33px;
    }
	
	.kv-fred-graph-units {
	  font-size: 20px;
    line-height: 24px;
}
	

	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 18px;
        line-height: 23px;
    }
    big,
    .big {
        font-size: 19px;
        line-height: 23px;
    }
  #menu > ul > li > a,
	#menu .sub-menu span,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
	
		#Filters, .kv_button {font-size: 16px;}
	
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 29px;
        line-height: 29px;
    }
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 32px;
        line-height: 39px;
    }
    h2, .p2 {
        font-size: 29px;
        line-height: 35px;
    }
    h3, .p3 {
        font-size: 26px;
        line-height: 31px;
    }
    h4, .p4 {
        font-size: 24px;
        line-height: 28px;
    }
    h5, .p5 {
        font-size: 21px;
        line-height: 25px;
    }
    h6, .p6 {
        font-size: 19px;
        line-height: 22px;
    }
    #Intro .intro-title {
        font-size: 32px;
        line-height: 39px;
    }
    blockquote {
        font-size: 18px;
    }
    .chart_box .chart .num {
        font-size: 37px;
        line-height: 37px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 37px;
        line-height: 37px;
    }
    .counter .desc_wrapper .title {
        font-size: 18px;
        line-height: 23px;
    }
    .faq .question .title {
        font-size: 18px;
    }
    .fancy_heading .title {
        font-size: 35px;
        line-height: 35px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }
    .pricing-box .plan-header h2 {
        font-size: 29px;
        line-height: 29px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 35px;
        line-height: 35px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 22px;
        line-height: 22px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 18px;
        line-height: 18px;
    }
    .quick_fact .number {
        font-size: 49px;
        line-height: 49px;
    }
    .trailer_box .desc h2 {
        font-size: 29px;
        line-height: 29px;
    }
	
		.kv-fred-graph-units {
	  font-size: 19px;
    line-height: 23px;
		}
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 17px;
        line-height: 22px;
    }
    big,
    .big {
        font-size: 17px;
        line-height: 22px;
    }
  #menu > ul > li > a,
	#menu .sub-menu span,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
	
		#Filters, .kv_button {font-size: 15px;}
	
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 26px;
        line-height: 26px;
    }
    h1,
    .text-logo #logo,
    .p1{
        font-size: 28px;
        line-height: 33px;
    }
    h2, .p2 {
        font-size: 26px;
        line-height: 30px;
    }
    h3, .p3 {
        font-size: 24px;
        line-height: 27px;
    }
    h4, .p4 {
        font-size: 22px;
        line-height: 25px;
    }
    h5, .p5 {
        font-size: 20px;
        line-height: 23px;
    }
    h6, .p6 {
        font-size: 18px;
        line-height: 21px;
    }
    #Intro .intro-title {
        font-size: 28px;
        line-height: 33px;
    }
    blockquote {
        font-size: 17px;
    }
    .chart_box .chart .num {
        font-size: 32px;
        line-height: 32px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 32px;
        line-height: 32px;
    }
    .counter .desc_wrapper .title {
        font-size: 17px;
        line-height: 22px;
    }
    .faq .question .title {
        font-size: 17px;
    }
    .fancy_heading .title {
        font-size: 30px;
        line-height: 30px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .pricing-box .plan-header h2 {
        font-size: 26px;
        line-height: 26px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 31px;
        line-height: 31px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 21px;
        line-height: 21px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 17px;
        line-height: 17px;
    }
    .quick_fact .number {
        font-size: 40px;
        line-height: 40px;
    }
    .trailer_box .desc h2 {
        font-size: 26px;
        line-height: 26px;
    }
	
		.kv-fred-graph-units {
	  font-size: 17px;
    line-height: 22px;
		}
	
}








/**
*
*
*  Custom blocks
*
*/

.kv_0height {

height: 0 !important;
}

.kv-col-12 {
 display: block;
float:left;
 width: 48%;
 vertical-align: top;
padding: 0 1% 25px;
box-sizing: border-box;
}

@media only screen and (max-width: 767px) {

  .kv-col-12 {

    width: 100%;

  }

}



.kv-col-13 {
 display: inline-block;
 width: 33.33%;
vertical-align: top;
}

.kv-col-14 {
 display: inline-block;
 width: 25%;
vertical-align: top;
}

.kv-col-23 {
 display: inline-block;
 width: 66.67%;
vertical-align: top;
}

.kv-col-34 {
 display: inline-block;
 width: 75%;
vertical-align: top;
}

.kv-icon {
  width: 100%;
}

.kv-icon-container {
    padding: 0 10% 10% 10%;
   max-width: 70px;
   margin:auto;
}

.kv-picture-container {
   padding: 0 0 0 0;
   margin:auto;
  overflow: hidden;
}

.kv-wrap-h1 {

}



.section-border-bottom { border-top: 1px solid rgba(0,0,0,.1); }
.section-border-bottom { border-bottom: 1px solid rgba(0,0,0,.1); }

/* Action Bar*/
#Action_bar .contact_details li { color: #047cff; } /* letra e ícono tel y mail*/ 
#Action_bar .contact_details li a { color: #047cff; } /* tel e email*/ 
#Action_bar .contact_details li a:hover { color: #252525; }
#Action_bar .social li a { color: #047cff; } /* íconos socialesl*/
#Action_bar .social li a:hover { color: #252525; }
.header-split #Action_bar { background-color: #ececec; }

/* Header */
@media only screen and (min-width: 768px) {
	.header-split #Header .top_bar_left .menu_left { width: 40%; }
	.header-split #Header .top_bar_left .menu_right { width: 40%; }
	.header-split #Header .top_bar_left .logo { width: 20%; left: 40%; }
}




/* Icon box */
.icon_box .desc_wrapper { margin: 0 10%; }
.icon_box .desc_wrapper .desc { font-size: 17px; }
#accessories .icon_box .desc_wrapper h4 { color: #fff; }

/*.icon_box .icon_wrapper {  background-color: #F7F6FC!important;} *//* color del fondo el ícono */

/*.icon_box .icon_wrapper i { color: #FFFFFF !important; }  color de línea el ícono */
/*.icon_box:hover .icon_wrapper i { color: #1F3C6E !important; }*/
/*.icon_box:hover .icon_wrapper::before, .icon_box a:hover .icon_wrapper::before {
    background-color: #ff0000;}*/


/* Notebook others */
.notebook_image_left { left: -35%; position: relative; }
@media only screen and (max-width: 767px) {
	.notebook_image_left { left: 0; text-align: center; }
}

/* Footer */
#Footer .footer_copy .social li a { color: #AAAAAA; }
#Footer .footer_copy .social li a:hover { color: #ffffff; }


/* Photobox no blinking/
.image_frame .image_wrapper .mask::after { display: none !important; }
.image_frame:not(.no_link) .image_wrapper img:not(.ls-l) { margin-bottom: 0 !important; }
.image_frame .image_wrapper img:not(.ls-l) { top: 0 !important; }
/* making iframe responsive */
.my-responsive-iframe-content { position: relative;
padding-top: 0%;
padding-bottom: 0%;
height: 0;
overflow: hidden;
}


/* 16x9 Aspect Ratio */
.my-responsive-iframe-content-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.my-responsive-iframe-content-4x3 {
  padding-bottom: 75%;
}

.my-responsive-iframe-content iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* no wrapper image style */
.image_frame .image_wrapper .mask { display: none !important; }
.image_frame:not(.no_link) .image_wrapper img:not(.ls-l) { margin-bottom: 0 !important; }


/* linear of log buttons for plotly charts */
.buttonPlotlyAxisLinearLog {
  color: #444444;
  background: #EEEEEE;
  background-color: #EEEEEE;
  display: block;
  position: relative;
  float: left;
  width: 50px;
  padding: 0;
  margin: 1px 1px 1px 1px;
  font-weight: 100;
  text-align: center;
  line-height: 17px;
  border-radius: 3px;
  transition: all 0.2s ;
}

.buttonPlotlyAxisLinearLog:hover{
  background-color: #D4D4D4;
  color: #444444;
}


/* radio button on plotly */
.radioPlotly {
  color: #444444;
  background: #EEEEEE;
  background-color: #EEEEEE;
}

.radioPlotly:hover {
background-color: #D4D4D4;
color: #444444;
}



/* Contact Form 7 Styles
---------------------------------------*/
/* makes check box align far left */

.wpcf7-list-item.first.last  { margin-left: 0; }

.wpcf7_my_submit_recaptcha_inline_container {

display: -webkit-flex;
-webkit-flex-wrap: wrap;
-webkit-align-items: center;

display: -moz-flex;
-moz-flex-wrap: wrap;
-moz-align-items: center;

display: flex;
flex-wrap: wrap;
width: 100%;
background-color: #f9f9f9;
align-items: center;
overflow: hidden;
z-index: 1;

}

.wpcf7_my_submit_container {
display: flex;
flex-wrap: wrap;
width: 120px;
height: 60px;
background-color: #f9f9f9;
align-items: center;
z-index: 3;
}

.wpcf7_my_flex-item-submit {
margin: 10px 10px 10px 5px;
min-width: 105px;
background-color: #f9f9f9;
z-index: 4;
}

.wpcf7_my_recaptcha_container {
width: 300px;
height: 74px;
overflow: hidden;
}

.wpcf7_my_flex-item-recaptcha {

margin: 0 0 0 0;
min-width: 302px;
overflow: hidden;
height: 76px;
width: 350px;

transform: translate(-1px, -1px);
z-index: 2;
}


@media only screen and (max-width: 416px) { 
   #rc-imageselect, .wpcf7_my_flex-item-recaptcha {
      transform:scale(0.77);
      transform-origin:-1px -3.5px;
     }

 .wpcf7_my_recaptcha_container {
    width: 231px;
    height: 56.98px;
}

}


@media only screen and (max-width: 342px) { 
   #rc-imageselect, .wpcf7_my_flex-item-recaptcha {
      transform:scale(0.6);
      transform-origin:-1px -1.5px;
     }

 .wpcf7_my_recaptcha_container {
    width: 180px;
    height: 44.4px;
}

}



.wpcf7-mail-sent-ok, 
.wpcf7-spam-blocked {
    /*color: #4F8A10;*/
    /*background-color: #DFF2BF;*/
		color: #FFFFFF;
		background-color: rgba(166,146,85,1.0) !important;
    border: 0 !important;
    margin: 10px 0 10px 0 !important;
}


.wpcf7-mail-sent-ok{width:100%}
.wpcf7-mail-sent-ng{width:100%;}
.cf7p-message .wpcf7-validation-errors{width:100%;}



/* class to make form fields go to 66% width and to 100% below threshold */
.kv-wpcf7-66 {
	width: 66%;
}


@media only screen and (max-width: 682px) { 
	.kv-wpcf7-66 {
		width: 100%;
	}
}

.kv-wpcf7-max-width-450 {
	max-width: 450px;
}












/** 
* 
* Menus and Logo 
*
*/


/*  Remove logo from sticky header mobile below top*/

.logo img.logo-mobile-sticky {
	display:none !important;
}


/* Sticky Header Mobile Color Transparency */


/* reduce max size of Top-bar.is-sticky  funciona esto??? */
#Top_bar.is-sticky .container_wrapper {
max-width: 920px;
}

/* adjust max width for header container 1220 - 32 (16 x 2) */
#Top_bar .container {
max-width: 1188px !important;
}

/* adjust header/menu height to 60px */

#Top_bar #logo,
.header-fixed #Top_bar #logo,
.header-plain #Top_bar #logo,
.header-transparent #Top_bar #logo {
    padding: 5px 0 5px 0 !important;
}

/* adjust header/menu height to menu items to 60px  and reduce side padding from 20 to 15*/

#Top_bar .menu > li > a span:not(.description) {
    line-height: 50px !important;
    padding: 0 15px;
}

/* fix back unexpected padding appeared after introducing above change */
@media only screen and (min-width: 768px) {  
    #Top_bar.is-sticky .menu_wrapper .menu > li > a {
        padding: 7px 0 3px 0 !important;
    }
}


/* Buttons */
a.button .button_label{
	padding:11px 10px;
}

@media only screen and (max-width: 479px) {  
   a.button .button_label {
				padding:11px 6px;
    }
}



/**
*
*
*    kv sizing
*
*
*/

/* set min heigh of section to 100vh minus height of header / sticky banner */
.kv_full_height_section {
   position: relative;
   min-height: calc(100vh - 60px);
}

/* pass height to child container */
.kv_full_height_section > div.section_wrapper.mcb-section-inner {
    min-height: inherit;
}

/* banner at bottom of section */
.kv_bottom_banner {
	position: absolute;
	bottom: 0;
}




/* kv_max_width: para limitar ancho de párrafos en secciones a todo lo ancho */

.kv_max_width,
#Subheader,
.post-template-default #Content,
.statistics-template-default #Content,
.blog #Content,
.archive #Content {
	max-width: 1188px; /*1220 menos 32 16x2*/
	margin: auto;
	width: unset;
}



/* replace filters_buttons and post-nav background  */
#Filters .filters_buttons {
	background-image: unset;
	background-color: rgba(166, 146, 86, 0.1);
	
}

.post-template-default .post-nav,
.statistics-template-default .post-nav {
	background-image: unset;
}

.post-template-default .post-nav .next-prev-nav,
.statistics-template-default .post-nav .next-prev-nav
	{display:none;}


@media only screen and (max-width: 959px) and (min-width: 768px) {
	.post-template-default .list-nav,
	.statistics-template-default .list-nav 
		{line-height:39px;}

}

@media only screen and (max-width: 767px) and (min-width: 480px) { 
.post-template-default .list-nav,
.statistics-template-default .list-nav
	{line-height:35px;}
}

@media only screen and (max-width: 479px) { 
	.post-template-default .list-nav,
	.statistics-template-default .list-nav
		{line-height:31px;}
}


@media only screen and (max-width: 1239px) and (min-width: 960px) { 
   .kv_max_width,
	#Subheader,
	.post-template-default #Content,
	.statistics-template-default #Content,
	.blog #Content,
	.archive #Content {
      max-width: 908px; /* 940 menos 16 por cada lado de padding */
     }

}

@media only screen and (max-width: 959px) and (min-width: 768px) { 
   .kv_max_width,
		#Subheader,
	.post-template-default #Content,
	.statistics-template-default #Content,
	.blog #Content, .archive #Content  {
      max-width: 676px; /* 708 menos 16 por cada lado de padding */
     }
    
}


@media only screen and (max-width: 767px) and (min-width: 700px)  {
	.kv_max_width,
	#Subheader,
	.post-template-default #Content,
	.statistics-template-default #Content,
	.blog #Content,.archive #Content {
      max-width: 668px;
     }
	
		#Subheader .container {
			padding-left: 0 !important;
			padding-right: 0 !important;
	}
}


@media only screen and (max-width: 699px)   { 
   .kv_max_width,
	.post-template-default #Content,
	.statistics-template-default #Content,
	.blog #Content,.archive #Content{
      max-width: 668px;
      padding-right: 16px !important; /*0 margin + 16  padding*/
     	padding-left: 16px !important;
     }
	
	  #Subheader {
			max-width: 668px;
			margin-right: 16px !important;
			margin-left: 16px !important;
	}
	
		#Subheader .container {
			padding-left: 0 !important;
			padding-right: 0 !important;
	}
}






/*limit item to certain size and center within wrap*/
.kv_child_div_450 {
	width: 450px;
	margin: 0 auto;
}

@media only screen and (max-width: 482px) { 
	.kv_child_div_450 {
		width: 100%;
	}
}



/* handle top bar width and options */


@media only screen and (max-width: 1240px) { 

   #Top_bar .container {
      max-width: 908px !important; /* 940 menos  32 (16 x 2)  */
     }
}


@media only screen and (max-width: 959px) { 

   #Top_bar .container{
      max-width: 708px !important; /* 708 quitar los márgenes de 16 de cada lado en los elementos */
     }

   .logo-no-margin #Top_bar .logo {
     margin-left: 16px !important;
   }

   #Top_bar .logo {
     margin: 0 14px 0 16px !important;
     margin-left: 16px !important;
   }



  /* place sticky menu icon on the right */
  #Top_bar a.responsive-menu-toggle.is-sticky { 
      right: 10px !important;  /* 16 - 6 (34-22)/2  */  
   }
    
}

@media only screen and (max-width: 959px)  and (min-width: 768px) { 
	
	#Top_bar .top_bar_left {width: 100% !important};

}


@media only screen and (max-width: 767px) { 

/* set logo to be displayed on the left side*/
#Top_bar .logo {
   float: left;
   margin: 0 14px 0 16px; 
   position: unset;
   width: unset;
   text-align: unset;
}

/* set side margins on logo top_bar top */
#Top_bar .logo #logo {
margin: 5px 0 5px 0 !important;
width: 180px;
}

/* adjust margin on topbar sticky logo on the left void space */
#Top_bar.is-sticky #logo {
margin: 5px 100px 5px 0 !important;  /*   */
}


}



@media only screen and (max-width: 767px) { 

   #Top_bar .container {
      max-width: 700px !important;
     }


  /* place sticky menu icon on the right */
  #Top_bar a.responsive-menu-toggle.is-sticky {
      left: unset !important;
      /*position: absolute !important;*/
      right: 10px !important;  /* 16 - 6 (34-22)/2  */  
      /*top: 50% !important;*/

   }


}


	#Top_bar:not(.is-sticky) {
		background: rgba(255,255,255,1) !important;
	 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	 -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
 }




/* leave responsive menu icon on the right */
@media only screen and (max-width: 767px) { 

/* unset background for Top_bar */
#Top_bar {
background: unset !important;
}

/* set color to 1 opacity on sticky bar, and shadow */
	#Top_bar.is-sticky	{ 
		background: rgba(255,255,255,1) !important;
	 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	 -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
 }

	
/* set color to 1 opacity on top bar*/
#Top_bar.top { 
background: rgba(255,255,255,1) !important;
 }


/* display big logo on top*/
  #Top_bar.top .logo img.logo-main{
	display:inline  !important;
}

/* display small logo on sticky */
  #Top_bar.is-sticky .logo img.logo-sticky {
	display:inline  !important;
}

/* keep menu at 300px */
	#Top_bar #menu {
		position: absolute !important;
		width: 300px !important;
	}

}

/* Remove from top header if width less than 422*/

@media only screen and (max-width: 422px) { 


/* remove big logo from top*/
  #Top_bar.top .logo img.logo-mobile  {
	display:none  !important;
}

/* replace with logo icon*/
  #Top_bar.top .logo img.logo-sticky  {
	display:inline !important;
}

/* open menu to full width */
	#Top_bar #menu {
		position: static !important;
		width: 100% !important;
	}	
	
	
}

/**
*
* No left right padding on section wrappers
*/

@media only screen and (max-width: 767px) { 

.section_wrapper {
padding-left: 0 !important;
padding-right: 0 !important;
}

}


/* remove margins from columns and one column */

.column, .columns {
   margin-left: 0% !important;
   margin-right: 0% !important;
}

.one.column{
width: 100% !important;
}



/***
*
* Format vertical spacing
*
*/

#Subheader { 	padding-top: 35px !important; }
.blog #Content,.archive #Content {padding-top: 30px;}

.post-template-default .post-nav,
.statistics-template-default .post-nav
	{margin-bottom: 0 !important; padding: 0 0 0 130px;}

.post-template-default .post-header,
.statistics-template-default .post-header
{margin-bottom: 0 !important;}

.post-template-default .section-post-header .single-photo-wrapper,
.statistics-template-default .section-post-header .single-photo-wrapper
{margin-bottom: 0 !important;}

@media only screen and (max-width: 959px) and (min-width: 768px) { 
	#Subheader { padding-top: 32px !important;	}
	
	.blog #Content,.archive #Content,
	.post-template-default #Content,
	.statistics-template-default #Content
	{padding-top: 20px;}
}

@media only screen and (max-width: 767px) and (min-width: 480px)  { 
	#Subheader { padding-top: 25px !important;	}
	
	.blog #Content,.archive #Content,
	.post-template-default #Content,
	.statistics-template-default #Content 
	{padding-top: 18px;}
	
	.post-template-default .post-nav,
	.statistics-template-default .post-nav
	{margin-bottom: 0 !important; padding: 0 0 5px 90px;}		
}


@media only screen and (max-width: 479px) {
		#Subheader {	padding-top: 10px !important; }
	
	 .blog #Content,.archive #Content,
	.post-template-default #Content,
	.statistics-template-default #Content
	{padding-top: 15px;}
	
		.post-template-default .post-nav,
		.statistics-template-default .post-nav
	{margin-bottom: 0 !important; padding: 0 0 5px 0;}	
}

/**
*
* 
* Blog Page and Archives Formatting
*
*/


/* format date span */


/* remove margin from the content wrapper */
.the_content_wrapper {margin: 0;}

/* Remove Subheader from single posts and blog page */
.post-template-default #Subheader,
.statistics-template-default #Subheader,
.blog #Subheader, .archive #Subheader {display: none;}


/* format share bar */
.post-template-default .share_wrapper,
.statistics-template-default .share_wrapper
{
	width: auto;
	float:right !important;
	padding: 0;
	border-width: 0;
}

.post-template-default .share_wrapper .stBubble,
.statistics-template-default .share_wrapper .stBubble
{display:none !important;}

/*Remove featured image from single post */
.post-template-default .wp-post-image,
.statistics-template-default .wp-post-image
{
	display:none;
}

/* Reformat featured image in blog page */
.blog .image_links.double a:nth-of-type(1) { display: none !important;}
.blog .image_links.double a:nth-of-type(2) { width: 100%;}
.blog .image_wrapper {text-align: center;}

/* Remove fixed nav bars */
.post-template-default a.fixed-nav,
.statistics-template-default a.fixed-nav
{display:none;}


.blog .sections_group,.archive .sections_group  { display:flex; flex-direction: column;}
.blog .extra_content, .archive .extra_content {order:3;}

.post-template-default div.the_content_wrapper,
.statistics-template-default div.the_content_wrapper
{display:flex; flex-direction: column;}

.post-template-default div.subscribe_buttom_section,
.statistics-template-default div.subscribe_buttom_section
{order:4;}



.blog .filters_buttons .authors, .archive .filters_buttons .authors {display:none;}
.blog .pager_wrapper, .archive .pager_wrapper {margin-bottom: 0; }

.blog .column_blog,.archive .column_blog {margin-bottom: 0;}

.blog  .post-item, .archive .column_blog {background-color: rgba(166, 146, 86, 0.02);}
.blog .post-desc .post-footer, .archive .post-desc .post-footer {background: unset;}
.blog .post-desc,.archive .post-desc {padding: 0 0 0 20px;}
.blog .post-desc .post-head, .archive .post-desc .post-head {display: none;}

.post-template-default .title_wrapper,.statistics-template-default .title_wrapper   {padding-left: 0 !important;}
.post-template-default .title_wrapper .post-meta,  .statistics-template-default .title_wrapper .post-meta {display: none;}

.blog .post-desc .entry-title, .archive .post-desc .entry-title {margin-bottom: 5px;}

#Filters .filters_wrapper {margin-top: 5px;}

.post-footer .post-links {border-left-width: 0;}


@media only screen and (max-width: 767px) {
   .blog #Filters  .filters_buttons, .archive #Filters  .filters_buttons { padding: 15px 10px; } 
   .blog  #Filters  .filters_buttons li, .archive  #Filters  .filters_buttons li {margin-right:  10px;}
}

@media only screen and (max-width: 530px) {
	.blog #Filters .filters_buttons li.label, .archive #Filters .filters_buttons li.label  {
			display: none;
	}
}

@media only screen and (max-width: 479px) {
.blog #Filters, .archive #Filters { margin-bottom: 20px;}
.blog #Filters .filters_buttons, .archive #Filters .filters_buttons { padding: 8px 7px; } 
.blog #Filters .filters_buttons li, .archive #Filters .filters_buttons li {  margin-right: 0; }
.blog .pager_lm .pager_load_more, .archive .pager_lm .pager_load_more {margin: 10px 0;}
}


/**
*
*	
*	 Format Share bar in blogs and portfolio
*	
*/	
	

	div.ssba-wrap {margin-bottom: 20px;}

	div.ssba-wrap:not(:first-of-type) {text-align:left !important;}
	div.ssba-wrap:not(:first-of-type) div {text-align:center !important;}

	
	@media only screen and (max-width: 959px) and (min-width: 768px) { 
		.ssba img {width:30px !important; padding:4px;}
	}

	@media only screen and (max-width: 767px) and (min-width: 480px)  { 
		.ssba img {width:27px !important; padding:3px;}
	}	


	@media only screen and (max-width: 479px) {
		div.ssba-wrap {margin-bottom: 15px;}
		.ssba img {width:25px !important; padding:2px;}
	}


/**
*
* Format Blog Articles
*
*
*
*/



.kv_article_date {font-style: italic; padding-right:15px;}
.kv_article_body {padding-bottom:0;}
.kv_chart_container {text-align:center;}
.kv_chart_title {text-align:center; font-weight: bold; margin-bottom: 0px; padding-top:25px;}
.kv_chart_unidades {text-align:center;}
.kv_chart{width:500px;}
.kv_chart_number {text-align:center; padding-bottom: 20px;}

 @media only screen and (max-width: 531px) {
	 .kv_chart{width:100%;}
}

.kv_chart_number {text-align:center;}
.kv_sources {font-style:italic; margin-bottom: 0; margin-top:50px;}
.kv_source_items {padding-left:15px; font-style:italic;}
.kv_share_article {padding-top:20px; text-align:center; margin-bottom: 0;}
	
	
/**
*
*
*  Format WPML
*
*
*/

/* remove padding top, bottom from footer */
.wpml-ls-legacy-list-horizontal {
	padding: 5.5px 7px 5.5px 7px;
}

/* remove bottom margin from footer */
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	margin-bottom: 0;
}



/**
*
*
*  Custom formatting of tiles for selectors (like world bank cards)
*
*
*/





div.tool-cards-div {
  background: rgba(29,59,96,0.05);
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
padding-bottom: 25px;
}

@media only screen and (max-width: 767px) {
div.tool-cards-div {padding-bottom: 0;}
}


.kv-void-p {
  padding: 0;
  margin:0;
}
ul.tool-card-list {
	padding: 0;
  list-style-type: none;
list-style-image: none;
list-style-position: outside;
margin: 0;
}

ul.tool-card-list li {
    padding: 0px 0 10px;
}


@media only screen and  (max-width: 767px) {

ul.tool-card-list li {
   margin: 0;
}

}



.tool-card-list {
	list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
}


.tool-card {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #e4e9ec;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
height: auto;
margin: 1px 0 0;
	width: 100%;
}




.tool-card a {
    display: block;
    height: 100%;
    width: 100%;
	 	cursor: pointer;
    text-decoration: none;
		background-color: transparent;
}

.tool-card a:hover {
    color: #1f95dd;
}

.tool-card a:active, a:hover {
    outline: 0;
}

@media only screen and (min-width: 768px) {
	.tool-card {
		height: 280px;
		margin: 60px 20px 80px;
		padding-bottom: 0;
		width: 290px;
		}
	
		.tool-card a:hover .title {
				color: #2277bb;
		}
	}

.tool-card a h4:after {
    font-family: mfn-icons;
    font-variant: normal;
    font-weight: 400;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: #393f42;
    content: '   \e877';
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px 1px 10px;
}


.tool-card a .icon {
    border: 1px solid #e4e9ec;
    border-radius: 50%;
    height: 55px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 55px;
    background-size: 300%;
}


.tool-card a .icon {
    background: url(https://www.kapitalvalue.com/wp-content/uploads/kv-icono-personas-beige.png) #fff no-repeat;
}

.tool-card #icon-materias-primas {
    background:  url(https://www.kapitalvalue.com/wp-content/uploads/kv-icono-personas-beige.png) #fff no-repeat;
}



.tool-card a .icon {
	line-height: 1;
	padding: 0;
	transition-property: color;
	transition-duration: .25;
}


.tool-card a .icon {
    background-position: center;
}


@media only screen and (min-width: 768px) {

	.tool-card a .icon {
	background-position: center;
	height: 80px;
	left: calc(50% - 40px);
	top: -40px;
	width: 80px;
	background-size: initial;	
}
}



.tool-card  h4 {
    color: #101f28;
    font-weight: 600;
}



.tool-card .title {
    box-sizing: border-box;
    color: #101f28;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 20px 20px 5px 85px;
    position: relative;
    width: 100%;
    text-align: left;
}



@media  only screen and (min-width: 768px) {
	.tool-card .title {
		position: absolute;
    color: #2277bb;
    padding: 70px 20px 0;
    left: 0;
    top: 0;
    text-align: center;
		}
}


.tool-card .description {
    color: #50595e;
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0 20px 20px 85px;
    transition: all .1s ease-in-out;
    text-align: left;
    width: 100%;
	 	line-height: 22px;
}

@media only screen and  (min-width: 768px) {
	.tool-card .description {
			padding: 118px 20px 40px;
	}
}

/**
*
* Fred Graphs formatting
*
*/

.fred-graph-footer, .fred-graph-footer-note {
  background-color: #E1E9F0;
	font-size: 12px;
  width: auto;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(68,68,69);
  }


.fred-graph-footer-links-narrow, 
.fred-graph-footer-links-wide {
  background-color: rgb(255,255,255);
	font-size: 12px;
  width: auto;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(68,68,69);
  }


. fred-graph-footer-note {
	width:100%;
	text-align: left;
}
.fred-graph-recession-text {
  width: 33.3%;
	display: inline-block;
	text-align: left;
	float: left;
}

.fred-graph-source-text {
width:50%;
float:left;
text-align: center;
display: inline-block;
}

.fred-graph-credits-text {
float: right;
width: 16.6%;
text-align: right;
display: inline-block;
}

.fred-graph-footer-links-narrow {
		display: none;
		text-align: left;
}
	
	.fred-graph-footer-links-wide {
		display: block;
		text-align: left;
	}


@media only screen and (max-width: 767px) {
	.fred-graph-footer {
			display: none;
	}
	
	.fred-graph-footer-links-narrow {
		display: block;
	}
	
	.fred-graph-footer-links-wide {
		display: none;
	}
	
}


.fred-graph-footer-links-narrow a, 
.fred-graph-footer-links-narrow a:hover, 
.fred-graph-footer-links-narrow a:visited,
.fred-graph-footer-links-wide a, 
.fred-graph-footer-links-wide a:hover, 
.fred-graph-footer-links-wide a:visited
{
    color: #39619A;
    text-decoration: none;
}

.kv-fred-chart-div-2L {
  width: calc(100% + 60px);
}

.kv-fred-chart-div-3L {
  width: calc(100% + 70px);
}

.kv-fred-chart-div-4L {
  width: calc(100% + 80px);
}

