/**
*
*  custom color classes
*
*/


/* Mobile menu background highlighted color */
@media only screen and (max-width: 959px) {
	#Header #menu > ul > li.current-menu-item > a,
        #Header #menu > ul > li.current_page_item > a,
         #Header #menu > ul > li.current-menu-parent > a,
         #Header #menu > ul > li.current-page-parent > a,
          #Header #menu > ul > li.current-menu-ancestor > a,
          #Header #menu > ul > li.current_page_ancestor > a   { 

          background:rgba(0,0,0,.02)
        }
}


/* kv colors */
.kv_darkblue {
color:#1D3860 !important;
}

.kv_midblue {
color:#0A5A8E !important;
}

.kv_lightblue, .kv_blue {
color: #2277bb !important;
}

.kv_white {
color: #ffffff !important;
}


.kv_background_brown70 {
background-color: rgba(166, 146, 86, 0.7);
}


.kv_background_blue85 {
background-color: rgba(34, 119, 187, 0.85);
}

.kv_background_blue {
background-color: rgba(34, 119, 187, 1.0);
}

.kv_background_darkblue {
  background-color: #1D3860;
}

/**
*
* Footing adjustments
*
*
*/

#Footer .footer_copy {
 border-top: 0px solid rgba(255,255,255,.1);
}


#Footer .footer_copy .one {
    margin-bottom: 0px;
    padding-top: 0px;
    min-height: 33px;
}

.footer-copy-center #Footer .footer_copy a#back_to_top {
    float: right;
}

/* vertical center copyright text */
.footer-copy-center #Footer .footer_copy .copyright {
	margin: 8px 0px 8px 0px;
}

/* remove margin on back to top icon to reduce line height */
.footer-copy-center #Footer .footer_copy a#back_to_top {
	margin: 0px;
}



/*  Remove Widget Wrapper from Footer */

#Footer .widgets_wrapper { display: none;}



/**
*
* Custom font styling
*
*
*/

.kv_400 {
   font-weight: 400 !important;
}


.kv_600 {
   font-weight: 600 !important;
}




/**
*
* custom paragraphs
*
*
*/

/* a paragraph proceeded by another paragraph will have a top margin */
p.big + p.big {
    margin-top: 0.60em;
}



.kv_lista_competencias {

   margin-bottom: 0.79em !important;

}





/**
*
*
*  Custom typography
*
*
*/

.kv_no_margin_bottom {
  margin-bottom: 0px;
}

.kv_header_half_bottom_margin {
  margin-bottom: 0.4em;
}

/*
*
* set shortcodes font-weight to 300
*
*/

/* Forms */
label,legend{font-weight:300;}

/* Lists */
dl > dt{font-weight:300;}

/* Muffin link, Effect 4, Effect 8 */
a.mfn-link-4{font-weight:300;}
a.mfn-link-8{font-weight:300;}

/* Accordion */
.accordion .question .title{font-weight:300;}

/* FAQ */
.faq .question .title .num {font-weight:300;}

/* Table */
table th{font-weight:300;}


/* List */
.list_item .circle{font-weight:300;}

/* Pricing Table */
.pricing-box-label ul li{font-weight:300;}

/* Progress Bar */
.progress_bars .bars_list li h6 .label{font-weight:300;}

/* Content links */
a.content_link .title{font-weight:300;}

/* Opening hours */
.opening_hours .opening_hours_wrapper li label{font-weight:300;}

/* Quick fact */
.style-simple .quick_fact .title{font-weight:300;}






/**
*
* set font sizes  - change font size by width in Responsive
*
*
*/

body {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0px;
}

big,
.big {
    font-size: 22px;
    line-height: 28x;
    font-weight: 300;
    letter-spacing: 0px;
}

#menu > ul > li > a,
a.button.action_button,
#overlay-menu ul li a,
.wpml-ls-menu-item {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

#overlay-menu ul li a {
    line-height: 17px;
}

#Subheader .title {
    font-size: 38px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0px;
}

h1,
.text-logo #logo,
.p1 {
    font-size: 44px;
    line-height: 50x;
    font-weight: 300;
    letter-spacing: 0px;
}

h2, .p2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0px;
}

h3, .p3 {
    font-size: 33px;
    line-height: 41px;
    font-weight: 300;
    letter-spacing: 0px;
}

h4, .p4 {
    font-size: 29px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0px;
}

h5, .p5 {
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 0px;
}

h6, .p6 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0px;
}

#Intro .intro-title {
    font-size: 44px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }
    big,
    .big {
        font-size: 20px;
        line-height: 24px;
    }
    #menu > ul > li > a,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 32px;
        line-height: 32x;
    }
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2, .p2 {
        font-size: 32px;
        line-height: 40px;
    }
    h3, .p3 {
        font-size: 29px;
        line-height: 36px;
    }
    h4, .p4 {
        font-size: 26px;
        line-height: 31px;
    }
    h5, .p5 {
        font-size: 22px;
        line-height: 26px;
    }
    h6, .p6 {
        font-size: 20px;
        line-height: 24px;
    }
    #Intro .intro-title {
        font-size: 36px;
        line-height: 44px;
    }
    blockquote {
        font-size: 18px;
    }
    .chart_box .chart .num {
        font-size: 44px;
        line-height: 44px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 44px;
        line-height: 44px;
    }
    .counter .desc_wrapper .title {
        font-size: 18px;
        line-height: 24px;
    }
    .faq .question .title {
        font-size: 18px;
    }
    .fancy_heading .title {
        font-size: 40px;
        line-height: 40px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .pricing-box .plan-header h2 {
        font-size: 33px;
        line-height: 33px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 41px;
        line-height: 41px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 24px;
        line-height: 24px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 18px;
        line-height: 18px;
    }
    .quick_fact .number {
        font-size: 61px;
        line-height: 61px;
    }
    .trailer_box .desc h2 {
        font-size: 33px;
        line-height: 33px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 18px;
        line-height: 23px;
    }
    big,
    .big {
        font-size: 19px;
        line-height: 23px;
    }
    #menu > ul > li > a,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 29px;
        line-height: 29px;
    }
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 32px;
        line-height: 39px;
    }
    h2, .p2 {
        font-size: 29px;
        line-height: 35px;
    }
    h3, .p3 {
        font-size: 26px;
        line-height: 31px;
    }
    h4, .p4 {
        font-size: 24px;
        line-height: 28px;
    }
    h5, .p5 {
        font-size: 21px;
        line-height: 25px;
    }
    h6, .p6 {
        font-size: 19px;
        line-height: 22px;
    }
    #Intro .intro-title {
        font-size: 32px;
        line-height: 39px;
    }
    blockquote {
        font-size: 18px;
    }
    .chart_box .chart .num {
        font-size: 37px;
        line-height: 37px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 37px;
        line-height: 37px;
    }
    .counter .desc_wrapper .title {
        font-size: 18px;
        line-height: 23px;
    }
    .faq .question .title {
        font-size: 18px;
    }
    .fancy_heading .title {
        font-size: 35px;
        line-height: 35px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 32px;
        line-height: 32px;
    }
    .pricing-box .plan-header h2 {
        font-size: 29px;
        line-height: 29px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 35px;
        line-height: 35px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 22px;
        line-height: 22px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 18px;
        line-height: 18px;
    }
    .quick_fact .number {
        font-size: 49px;
        line-height: 49px;
    }
    .trailer_box .desc h2 {
        font-size: 29px;
        line-height: 29px;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 17px;
        line-height: 22px;
    }
    big,
    .big {
        font-size: 17px;
        line-height: 22px;
    }
    #menu > ul > li > a,
	a.button.action_button,
	#overlay-menu ul li a,
	.wpml-ls-menu-item {
        font-size: 15px;
	    letter-spacing: 0.05em;
    }
    #overlay-menu ul li a {
        line-height: 17px;
    }
    #Subheader .title {
        font-size: 26px;
        line-height: 26px;
    }
    h1,
    .text-logo #logo,
    .p1{
        font-size: 28px;
        line-height: 33px;
    }
    h2, .p2 {
        font-size: 26px;
        line-height: 30px;
    }
    h3, .p3 {
        font-size: 24px;
        line-height: 27px;
    }
    h4, .p4 {
        font-size: 22px;
        line-height: 25px;
    }
    h5, .p5 {
        font-size: 20px;
        line-height: 23px;
    }
    h6, .p6 {
        font-size: 18px;
        line-height: 21px;
    }
    #Intro .intro-title {
        font-size: 28px;
        line-height: 33px;
    }
    blockquote {
        font-size: 17px;
    }
    .chart_box .chart .num {
        font-size: 32px;
        line-height: 32px;
    }
    .counter .desc_wrapper .number-wrapper {
        font-size: 32px;
        line-height: 32px;
    }
    .counter .desc_wrapper .title {
        font-size: 17px;
        line-height: 22px;
    }
    .faq .question .title {
        font-size: 17px;
    }
    .fancy_heading .title {
        font-size: 30px;
        line-height: 30px;
    }
    .offer .offer_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .pricing-box .plan-header h2 {
        font-size: 26px;
        line-height: 26px;
    }
    .pricing-box .plan-header .price > span {
        font-size: 31px;
        line-height: 31px;
    }
    .pricing-box .plan-header .price sup.currency {
        font-size: 21px;
        line-height: 21px;
    }
    .pricing-box .plan-header .price sup.period {
        font-size: 17px;
        line-height: 17px;
    }
    .quick_fact .number {
        font-size: 40px;
        line-height: 40px;
    }
    .trailer_box .desc h2 {
        font-size: 26px;
        line-height: 26px;
    }
}








/**
*
*
*  Custom blocks
*
*/

.kv_0height {

height: 0px !important;
}

.kv-col-12 {
 display: block;
float:left;
 width: 48%;
 vertical-align: top;
padding: 0 1% 25px;
box-sizing: border-box;
}

@media only screen and (max-width: 767px) {

  .kv-col-12 {

    width: 100%;

  }

}



.kv-col-13 {
 display: inline-block;
 width: 33.33%;
vertical-align: top;
}

.kv-col-14 {
 display: inline-block;
 width: 25%;
vertical-align: top;
}

.kv-col-23 {
 display: inline-block;
 width: 66.67%;
vertical-align: top;
}

.kv-col-34 {
 display: inline-block;
 width: 75%;
vertical-align: top;
}

.kv-icon {
  width: 100%;
}

.kv-icon-container {
    padding: 0px 10% 10% 10%;
   max-width: 70px;
   margin:auto;
}

.kv-picture-container {
   padding: 0px 0px 0px 0px;
   margin:auto;
  overflow: hidden;
}

.kv-wrap-h1 {
 height: 60;
}



.section-border-bottom { border-top: 1px solid rgba(0,0,0,.1); }
.section-border-bottom { border-bottom: 1px solid rgba(0,0,0,.1); }

/* Action Bar*/
#Action_bar .contact_details li { color: #047cff; } /* letra e ícono tel y mail*/ 
#Action_bar .contact_details li a { color: #047cff; } /* tel e email*/ 
#Action_bar .contact_details li a:hover { color: #252525; }
#Action_bar .social li a { color: #047cff; } /* íconos socialesl*/
#Action_bar .social li a:hover { color: #252525; }
.header-split #Action_bar { background-color: #ececec; }

/* Header */
@media only screen and (min-width: 768px) {
	.header-split #Header .top_bar_left .menu_left { width: 40%; }
	.header-split #Header .top_bar_left .menu_right { width: 40%; }
	.header-split #Header .top_bar_left .logo { width: 20%; left: 40%; }
}

/* Icon box */
.icon_box .desc_wrapper { margin: 0 10%; }
.icon_box .desc_wrapper .desc { font-size: 17px; }
#accessories .icon_box .desc_wrapper h4 { color: #fff; }

/*.icon_box .icon_wrapper {  background-color: #F7F6FC!important;} *//* color del fondo el ícono */

/*.icon_box .icon_wrapper i { color: #FFFFFF !important; }  color de línea el ícono */
/*.icon_box:hover .icon_wrapper i { color: #1F3C6E !important; }*/
/*.icon_box:hover .icon_wrapper::before, .icon_box a:hover .icon_wrapper::before {
    background-color: #ff0000;*/
}


/* Notebook others */
.notebook_image_left { left: -35%; position: relative; }
@media only screen and (max-width: 767px) {
	.notebook_image_left { left: 0; text-align: center; }
}

/* Footer */
#Footer .footer_copy .social li a { color: #AAAAAA; }
#Footer .footer_copy .social li a:hover { color: #ffffff; }


/* Photobox no blinking/
.image_frame .image_wrapper .mask::after { display: none !important; }
.image_frame:not(.no_link) .image_wrapper img:not(.ls-l) { margin-bottom: 0 !important; }
.image_frame .image_wrapper img:not(.ls-l) { top: 0 !important; }
/* making iframe responsive */
.my-responsive-iframe-content { position: relative;
padding-top: 0%;
padding-botton: 0%;
height: 0;
overflow: hidden;
}


/* 16x9 Aspect Ratio */
.my-responsive-iframe-content-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.my-responsive-iframe-content-4x3 {
  padding-bottom: 75%;
}

.my-responsive-iframe-content iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* no wrapper image style */
.image_frame .image_wrapper .mask { display: none !important; }
.image_frame:not(.no_link) .image_wrapper img:not(.ls-l) { margin-bottom: 0 !important; }


/* linear of log buttons for plotly charts */
.buttonPlotlyAxisLinearLog {
  color: #444444;
  background: #EEEEEE;
  background-color: #EEEEEE;
  display: block;
  position: relative;
  float: left;
  width: 50px;
  padding: 0;
  margin: 1px 1px 1px 1px;
  font-weight: 100;
  text-align: center;
  line-height: 17px;
  border-radius: 3px;
  transition: all 0.2s ;
}

.buttonPlotlyAxisLinearLog:hover{
  background-color: #D4D4D4;
  color: #444444;
}


/* radio button on plotly */
.radioPlotly {
  color: #444444;
  background: #EEEEEE;
  background-color: #EEEEEE;
}

.radioPlotly:hover {
background-color: #D4D4D4;
color: #444444;
}



/* Contact Form 7 Styles
---------------------------------------*/
// makes check box align far left

.wpcf7-list-item.first.last  {

   margin-left: 0px;

}

.wpcf7_my_submit_recaptcha_inline_container {

display: -webkit-flex;
-webkit-flex-wrap: wrap;
-webkit-align-items: center;

display: -moz-flex;
-moz-flex-wrap: wrap;
-moz-align-items: center;

display: flex;
flex-wrap: wrap;
width: 100%;
background-color: #f9f9f9;
align-items: center;
overflow: hidden;
z-index: 1;

}

.wpcf7_my_submit_container {
display: flex;
flex-wrap: wrap;
width: 120px;
height: 60px;
background-color: #f9f9f9;
align-items: center;
z-index: 3;
}

.wpcf7_my_flex-item-submit {
margin: 10px 10px 10px 5px;
min-width: 105px;
background-color: #f9f9f9;
z-index: 4;
}

.wpcf7_my_recaptcha_container {
width: 300px;
height: 74px;
overflow: hidden;
}

.wpcf7_my_flex-item-recaptcha {

margin: 0px 0px 0px 0px;
min-width: 302px;
overflow: hidden;
height: 76px;
width: 350px;

transform: translate(-1px, -1px);
z-index: 2;
}


@media only screen and (max-width: 416px) { 
   #rc-imageselect, .wpcf7_my_flex-item-recaptcha {
      transform:scale(0.77);
      transform-origin:-1px -3.5px;
     }

 .wpcf7_my_recaptcha_container {
    width: 231px;
    height: 56.98px;
}

}


@media only screen and (max-width: 342px) { 
   #rc-imageselect, .wpcf7_my_flex-item-recaptcha {
      transform:scale(0.6);
      transform-origin:-1px -1.5px;
     }

 .wpcf7_my_recaptcha_container {
    width: 180px;
    height: 44.4px;
}

}



.wpcf7-mail-sent-ok, 
.wpcf7-spam-blocked {
    //color: #4F8A10;
    //background-color: #DFF2BF;
	color: #FFFFFF;
	background-color: rgba(166,146,85,1.0) !important;
    border: 0px !important;
    margin: 10px 0px 10px 0px !important;
}


.wpcf7-mail-sent-ok{width:100%}
.wpcf7-mail-sent-ng{width:100%;}
.cf7p-message .wpcf7-validation-errors{width:100%;}



/* class to make form fields go to 66% width and to 100% below threshold */
.kv-wpcf7-66 {
	width: 66%;
}


@media only screen and (max-width: 682px) { 
	.kv-wpcf7-66 {
		width: 100%;
	}
}

.kv-wpcf7-max-width-450 {
	max-width: 450px;
}












/** 
* 
* Menus and Logo 
*
*/


/*  Remove logo from sticky header mobile below top*/

.logo img.logo-mobile-sticky {
	display:none !important;
}


/* Sticky Header Mobile Color Transparency */


/* reduce max size of Top-bar.is-sticky  funciona esto??? */
#Top_bar.is-sticky .container_wrapper {
max-width: 920px;
}

/* adjust max width for header container 1220 - 32 (16 x 2) */
#Top_bar .container {
max-width: 1188px !important;
}

/* adjust header/menu height to 60px */

#Top_bar #logo,
.header-fixed #Top_bar #logo,
.header-plain #Top_bar #logo,
.header-transparent #Top_bar #logo {
    padding: 5px 0px 5px 0px !important;
}

/* adjust header/menu height to menu items to 60px  and reduce side padding from 20 to 15*/

#Top_bar .menu > li > a span:not(.description) {
    line-height: 50px !important;
    padding: 0 15px;
}

/* fix back unexpected padding appeared after introducing above change */
@media only screen and (min-width: 768px) {  
    #Top_bar.is-sticky .menu_wrapper .menu > li > a {
        padding: 7px 0px 3px 0px !important;
    }
}


/* Buttons */
a.button .button_label{
	padding:11px 10px;
}

@media only screen and (max-width: 479px) {  
   a.button .button_label {
				padding:11px 6px;
    }
}



/**
*
*
*    kv sizing
*
*
*/

/* set min heigh of section to 100vh minus height of header / sticky banner */
.kv_full_height_section {
   position: relative;
   min-height: calc(100vh - 60px);
}

/* pass height to child container */
.kv_full_height_section > div.section_wrapper.mcb-section-inner {
    min-height: inherit;
}

/* banner at bottom of section */
.kv_bottom_banner {
	position: absolute;
	bottom: 0;
}




/* kv_max_width: para limitar ancho de párrafos en secciones a todo lo ancho */

.kv_max_width,
#Subheader,
.post-template-default #Content,
.blog #Content,
.archive #Content {
	max-width: 1188px; /*1220 menos 32 16x2*/
	margin: auto;
	width: unset;
}



/* replace filters_buttons and post-nav background  */
#Filters .filters_buttons {
	background-image: unset;
	background-color: rgba(166, 146, 86, 0.1);
	
}

.post-template-default .post-nav{
	background-image: unset;
}

.post-template-default .post-nav .next-prev-nav {display:none;}


@media only screen and (max-width: 959px) and (min-width: 768px) { 
.post-template-default .list-nav {line-height:39px;}
}

@media only screen and (max-width: 767px) and (min-width: 480px) { 
.post-template-default .list-nav {line-height:35px;}
}

@media only screen and (max-width: 479px) { 
.post-template-default .list-nav {line-height:31px;}
}


@media only screen and (max-width: 1239px) and (min-width: 960px) { 
   .kv_max_width,
	#Subheader,
	.post-template-default #Content,
	.blog #Content,
	.archive #Content {
      max-width: 908px; /* 940 menos 16 por cada lado de padding */
     }

}

@media only screen and (max-width: 959px) and (min-width: 768px) { 
   .kv_max_width,
		#Subheader,
	.post-template-default #Content,
	.blog #Content, .archive #Content  {
      max-width: 676px; /* 708 menos 16 por cada lado de padding */
     }
    
}


@media only screen and (max-width: 767px) and (min-width: 700px)  { 
   .kv_max_width,
		#Subheader,
		.post-template-default #Content,
	.blog #Content,.archive #Content {
      max-width: 668px;
     }
	
		#Subheader .container {
			padding-left: 0px !important;
			padding-right: 0px !important;
	}
}


@media only screen and (max-width: 699px)   { 
   .kv_max_width,
	.post-template-default #Content,
	.blog #Content,.archive #Content{
      max-width: 668px;
      padding-right: 16px !important; /*0 margin + 16  padding*/
     	padding-left: 16px !important;
     }
	
	  #Subheader {
			max-width: 668px;
			margin-right: 16px !important;
			margin-left: 16px !important;
	}
	
		#Subheader .container {
			padding-left: 0px !important;
			padding-right: 0px !important;
	}
}






/*limit item to certain size and center within wrap*/
.kv_child_div_450 {
	width: 450px;
	margin: 0 auto;
}

@media only screen and (max-width: 482px) { 
	.kv_child_div_450 {
		width: 100%;
	}
}



/* handle top bar width and options */


@media only screen and (max-width: 1240px) { 

   #Top_bar .container {
      max-width: 908px !important; /* 940 menos  32 (16 x 2)  */
     }
}


@media only screen and (max-width: 960px) { 

   #Top_bar .container{
      max-width: 708px !important; /* 708 quitar los márgenes de 16 de cada lado en los elementos */
     }

   .logo-no-margin #Top_bar .logo {
     margin-left: 16px !important;
   }

   #Top_bar .logo {
     margin: 0px 14px 0px 16px !important;
     margin-left: 16px !important;
   }



  /* place sticky menu icon on the right */
  #Top_bar a.responsive-menu-toggle.is-sticky { 
      right: 10px !important;  /* 16 - 6 (34-22)/2  */  
   }
    
}



@media only screen and (max-width: 767px) { 

/* set logo to be displayed on the left side*/
#Top_bar .logo {
   float: left;
   margin: 0px 14px 0px 16px; 
   position: unset;
   width: unset;
   text-align: unset;
}

/* set side margins on logo top_bar top */
#Top_bar .logo #logo {
margin: 5px 0px 5px 0px !important;
width: 180px;
}

/* adjust margin on topbar sticky logo on the left void space */
#Top_bar.is-sticky #logo {
margin: 5px 100px 5px 0px !important;  /*   */
}


}



@media only screen and (max-width: 767px) { 

   #Top_bar .container {
      max-width: 700px !important;
     }


  /* place sticky menu icon on the right */
  #Top_bar a.responsive-menu-toggle.is-sticky {
      left: unset !important;
      /*position: absolute !important;*/
      right: 10px !important;  /* 16 - 6 (34-22)/2  */  
      /*top: 50% !important;*/

   }


}


/* leave responsive menu icon on the right */
@media only screen and (max-width: 767px) { 

/* unset background for Top_bar */
#Top_bar {
background: unset !important;
}

/* set color to 1 opacity on sticky bar, and shadow */
#Top_bar.is-sticky { 
background: rgba(255,255,255,1) !important;
 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
 }

/* set color to 1 opacity on top bar*/
#Top_bar.top { 
background: rgba(255,255,255,1) !important;
 }


/* display big logo on top*/
  #Top_bar.top .logo img.logo-main{
	display:inline  !important;
}

/* display small logo on sticky */
  #Top_bar.is-sticky .logo img.logo-sticky {
	display:inline  !important;
}


}

/* Remove from top header if width less than 422*/

@media only screen and (max-width: 422px) { 


/* remove big logo from top*/
  #Top_bar.top .logo img.logo-mobile  {
	display:none  !important;
}

/* replace with logo icon*/
  #Top_bar.top .logo img.logo-sticky  {
	display:inline !important;
}

}

/**
*
* No left right padding on section wrappers
*/

@media only screen and (max-width: 767px) { 

.section_wrapper {
padding-left: 0px !important;
padding-right: 0px !important;
}

}


/* remove margins from columns and one column */

.column, .columns {
   margin-left: 0% !important;
   margin-right: 0% !important;
}

.one.column{
width: 100% !important;
}



/***
*
* Format vertical spacing
*
*/

#Subheader { 	padding-top: 35px !important; }
.blog #Content,.archive #Content {padding-top: 30px;}
.post-template-default .post-nav {margin-bottom: 0px !important; padding: 6px 10px 0px 130px;}

@media only screen and (max-width: 959px) and (min-width: 768px) { 
	#Subheader { padding-top: 32px !important;	}
	.blog #Content,.archive #Content, .post-template-default #Content {padding-top: 20px;}
}

@media only screen and (max-width: 767px) and (min-width: 480px)  { 
	#Subheader { padding-top: 25px !important;	}
	.blog #Content,.archive #Content, .post-template-default #Content {padding-top: 18px;}
	.post-template-default .post-nav {margin-bottom 0px !important; padding: 6px 10px 0px 90px;}	
	
}


@media only screen and (max-width: 479px) {
		#Subheader { 	padding-top: 10px !important; 	}
	  .blog #Content,.archive #Content, .post-template-default #Content {padding-top: 15px;}
		.post-template-default .post-nav {margin-bottom 0px !important; padding: 6px 10px 0px;}	
}

/**
*
* 
* Blog Page and Archives Formatting
*
*/

/* Remove Subheader from single posts */
.post-template-default #Subheader {display: none;}

/* format share bar */
.post-template-default .share_wrapper {
	width: auto;
	float:right !important;
	padding: 0;
	border-width: 0px;
}

.post-template-default .share_wrapper .stBubble {display:none !important;}

/*Remove featured image from single post */
.post-template-default .wp-post-image {
	display:none;
}

/* Remove fixed nav bars */
.post-template-default a.fixed-nav {display:none;}


.blog .sections_group,.archive .sections_group  { display:flex; flex-direction: column;}
.blog .extra_content, .archive .extra_content {order:3;}
.blog .filters_buttons .authors, .archive .filters_buttons .authors {display:none;}
.blog .pager_wrapper, .archive .pager_wrapper {margin-bottom: 0px; }

.blog .column_blog,.archive .column_blog {margin-bottom: 0px;}

.blog  .post-item, .archive .column_blog, {background-color: rgba(166, 146, 86, 0.02);}
.blog .post-desc .post-footer, .archive .post-desc .post-footer{background: unset;}
.blog .post-desc,.archive .post-desc {padding: 0 0 0 20px;}
.blog .post-desc .post-head, .archive .post-desc .post-head {display: none;}
.post-template-default .title_wrapper .post-meta {display: none;}
.blog .post-desc .entry-title, .archive .post-desc .entry-title {margin-bottom: 5px;}


@media only screen and (max-width: 767px) {
   .blog #Filters  .filters_buttons, .archive #Filters  .filters_buttons { padding: 15px 10px; } 
   .blog  #Filters  .filters_buttons li, .archive  #Filters  .filters_buttons li {margin-right:  10px;}

	
}

@media only screen and (max-width: 530px) {
.blog #Filters .filters_buttons li.label, .archive #Filters .filters_buttons li.label,  {
    display: none;
}
@media only screen and (max-width: 479px) {
.blog #Filters, .archive #Filters { margin-bottom: 20px;}
.blog #Filters .filters_buttons, .archive #Filters .filters_buttons { padding: 8px 7px; } 
.blog #Filters .filters_buttons li, .archive #Filters .filters_buttons li {  margin-right: 0px; }
.blog .pager_lm .pager_load_more, .archive .pager_lm .pager_load_more{margin: 10px 0;}
}


/**
*
*
*  Format WPML
*
*
*/

/* remove padding top, bottom from footer */
.wpml-ls-legacy-list-horizontal {
	padding: 5.5px 7px 5.5px 7px;
}

/* remove bottom margin from footer */
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	margin-bottom: 0px;
}





