
/**
*
*
*  Mail Chimp custom CSS for KV
*
*
*/

/* TYPOGRAPHY */

/* font family */
body, div, span, p, h1, h2, h3, h4, h5, h6,
.mcnTextContent,
#templateHeader .mcnTextContent,#templateHeader .mcnTextContent p,
#templateBody .mcnTextContent,#templateBody .mcnTextContent p,
#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p,
.kvmc-menu-bar, .kvmc-menu-items, .kvmc-menu-dot {
	font-family: 'Raleway', 'Arial', sans-serif;
}


/* colors */
body, div, span, p {
	color: #58595b;
}

.kvmc-menu-dot {
	color: #D3D3D3;
}

.kvmc-menu-items {
	color: #808285;
}


h1 {
  color: #2277bb;
}

h2 {
	color: #2277bb;
}

h3, h4, h5 {
	color: #1d3860;
}

h6 {
	color: #0a5a8e;
}


/**
*
* set font sizes  - change font size by width in Responsive
*
*
*/


body, .kvdiv {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0px;
}

big,
.big {
    font-size: 22px;
    line-height: 28x;
    font-weight: 300;
    letter-spacing: 0px;
}

.kvmc-menu-items {
	font-size: 15px;
 	font-weight: 300;
	letter-spacing: 0.05em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

#Subheader .title {
    font-size: 38px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0px;
}

.h1kv,
.text-logo #logo,
.p1 {
    font-size: 44px;
    line-height: 50x;
    font-weight: 300;
    letter-spacing: 0px;
}

.h2kv, .p2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0px;
}

.h3kv, .p3 {
    font-size: 33px;
    line-height: 41px;
    font-weight: 300;
    letter-spacing: 0px;
}

.h4kv, .p4 {
    font-size: 29px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0px;
}

.h5kv, .p5 {
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 0px;
}

.h6kv, .p6 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0px;
}
	




@media only screen and (min-width: 768px) and (max-width: 959px) {
    body, .kvdiv {
        font-size: 18px;
        line-height: 24px;
    }
    big,
    .big {
        font-size: 20px;
        line-height: 24px;
    }
    
    a.kvmc-menu-items {
		font-size: 15px;
	}

 
    .h1kv,
    .text-logo #logo,
    .p1 {
        font-size: 36px;
        line-height: 44px;
    }
    .h2kv, .p2 {
        font-size: 32px;
        line-height: 40px;
    }
    .h3kv, .p3 {
        font-size: 29px;
        line-height: 36px;
    }
    .h4kv, .p4 {
        font-size: 26px;
        line-height: 31px;
    }
    .h5kv, .p5 {
        font-size: 22px;
        line-height: 26px;
    }
    .h6kv, .p6 {
        font-size: 20px;
        line-height: 24px;
    }
  
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    body, kvdiv {
        font-size: 18px;
        line-height: 23px;
    }
    big,
    .big {
        font-size: 19px;
        line-height: 23px;
    }
	
	.kvmc-menu-items{
		font-size: 14px;
	}

 
    .h1kv,
    .text-logo #logo,
    .p1 {
        font-size: 32px;
        line-height: 39px;
    }
    .h2kv, .p2 {
        font-size: 29px;
        line-height: 35px;
    }
    .h3kv, .p3 {
        font-size: 26px;
        line-height: 31px;
    }
    .h4kv, .p4 {
        font-size: 24px;
        line-height: 28px;
    }
    .h5kv, .p5 {
        font-size: 21px;
        line-height: 25px;
    }
    .h6kv, .p6 {
        font-size: 19px;
        line-height: 22px;
    }
 
}

@media only screen and (max-width: 480px) {
    body, div.kvdiv {
        font-size: 17x!important;
        line-height: 22px!important;
    }
    big,
    .big {
        font-size: 17px!important;
        line-height: 22px!important;
    }
	
	a.kvmc-menu-items {
		font-size: 13px !important;
	}


    h1.h1kv,
    .text-logo #logo,
    .p1{
        font-size: 28px!important;
        line-height: 33px!important;
    }
    h2.h2kv, .p2 {
        font-size: 26px !important;
        line-height: 30px !important;
    }
    h3.h3kv, .p3 {
        font-size: 24px!important;
        line-height: 27px!important;
    }
    h4.h4kv, .p4 {
        font-size: 22px!important;
        line-height: 25px!important;
    }
    h5.h5kv, .p5 {
        font-size: 20px!important;
        line-height: 23px!important;
    }
    h6.h6kv, .p6 {
        font-size: 18px!important;
        line-height: 21px!important;
    }

}








/**
*
*  custom color classes
*
*/


/* kv colors */
.kv_darkblue {
color:#1D3860;
}

.kv_midblue {
color:#0A5A8E;
}

.kv_lightblue, .kv_blue {
color: #2277bb;
}

.kv_white {
color: #ffffff;
}

.kv_background_brown70 {
background-color: rgba(166, 146, 86, 0.7);
}


.kv_background_blue85 {
background-color: rgba(34, 119, 187, 0.85);
}

.kv_background_blue {
background-color: rgba(34, 119, 187, 1.0);
}

.kv_background_darkblue {
  background-color: #1D3860;
}




/**
*
* Custom font styling
*
*
*/

.kv_400 {
   font-weight: 400;
}


.kv_600 {
   font-weight: 600;
}




/**
*
* custom paragraphs
*
*
*/






/* a paragraph proceeded by another paragraph will have a top margin */
p.big + p.big {
    margin-top: 0.60em;
}

.mcnTextContent,
.mcnDividerBlockInner {
	padding-right: 18px;
	padding-left: 18px;
}

.mcnBoxedTextContentColumn {
	
}


/* Menu items */

.kvmc-menu-bar {
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding-left: 18px;
	padding-right: 18px;
}


.kvmc-menu-items {
	text-align: center;
	word-wrap: break-word;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
}


/**
*
*
*  Format share buttons
*
*/


.mcnShareBlockInner {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}



/*td*/
.mcnShareContentItemContainer {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*table*/
.mcnShareContentItem > tbody > tr > td {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

td.mcnShareIconContent {
	padding-top: 1px !important;
	padding-right: 5px !important;
	padding-bottom: 1px !important;
	padding-left: 5px !important;
}

.mcnShareTextContent {
	padding: 0px !important;
}

@media only screen and (max-width: 480px) {
	
	.mcnShareBlockInner {
		padding-left: 0px  !important;
		padding-right: 0px  !important;
	}
	
}


/**
*
*
*  Format follow buttons
*
*/


.mcnFollowBlockInner {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/*table*/
.mcnFollowContent > tbody > tr > td {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

.mcnFollowContentItemContainer {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*table*/
table.mcnFollowContentItem > tbody > tr > td {
	padding-top: 1px !important;
	padding-right: 5px !important;
	padding-bottom: 1px !important;
	padding-left: 5px !important;
}


@media only screen and (max-width: 480px) {
	
	.mcnFollowBlockInner {
		padding-left: 0px  !important;
		padding-right: 0px  !important;
	}
	
}


/**
*
*
*  Images
*
*
*/

.kvmcImage, 
.kvmcHeaderLogo {
	vertical-align: bottom;
}



@media only screen and (max-width: 480px) {

	div.kvmc-menu-bar {
		padding-left: 9px ;
		padding-right: 9px ;
	}
	
	a.kvmc-menu-items {
		padding: 0px 4px 0px 4px;
	}
	
	.mcnTextContent,
	.mcnDividerBlockInner
	{
		padding-right: 9px !important;
		padding-left: 9px !important;
	}
	
	
	.kvmcImage {
		width: 100% !important;
	}
	
	.kvmcHeaderLogo {
		width: 75% !important;
	}
	

	
}







