
/**
*
*
*  Mail Chimp custom CSS for KV
*
*
*/

/* TYPOGRAPHY */

/* font family */
body, div, span, p, h1, h2, h3, h4, h5, h6,
.kvmc-menu-bar, .kvmc-menu-items, .kvmc-menu-dot {
	font-family: 'Raleway', 'Arial', sans-serif !Important;
}


/* colors */
body, div, span, p {
	color: #58595b !Important;
}

.kvmc-menu-dot {
	color: #D3D3D3;
}

.kvmc-menu-items {
	color: #808285 !important;
}


h1 {
  color: #2277bb !important;
}

h2 {
	color: #2277bb !important;
}

h3, h4, h5 {
	color: #1d3860 !important;
}

h6 {
	color: #0a5a8e !important;
}


/**
*
* set font sizes  - change font size by width in Responsive
*
*
*/

body {
    font-size: 19px !important;
    line-height: 26px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

big,
.big {
    font-size: 22px !important;
    line-height: 28x !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

.kvmc-menu-items {
	font-size: 15px;
 	font-weight: 300 !important;
	letter-spacing: 0.05em !important;
	-ms-text-size-adjust: 100% !important;
	-webkit-text-size-adjust: 100% !important;
}

#Subheader .title {
    font-size: 38px !important;
    line-height: 38px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h1,
.text-logo #logo,
.p1 {
    font-size: 44px !important;
    line-height: 50x !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h2, .p2 {
    font-size: 38px !important;
    line-height: 46px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h3, .p3 {
    font-size: 33px !important;
    line-height: 41px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h4, .p4 {
    font-size: 29px !important;
    line-height: 36px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h5, .p5 {
    font-size: 25px !important;
    line-height: 31px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}

h6, .p6 {
    font-size: 22px !important;
    line-height: 28px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    big,
    .big {
        font-size: 20px !important;
        line-height: 24px !important;
    }
    
    .kvmc-menu-items {
		font-size: 15px !important;
	}

 
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 36px !important;
        line-height: 44px !important;
    }
    h2, .p2 {
        font-size: 32px !important;
        line-height: 40px !important;
    }
    h3, .p3 {
        font-size: 29px;
        line-height: 36px !important;
    }
    h4, .p4 {
        font-size: 26px !important;
        line-height: 31px !important;
    }
    h5, .p5 {
        font-size: 22px !important;
        line-height: 26px !important;
    }
    h6, .p6 {
        font-size: 20px !important;
        line-height: 24px !important;
    }
  
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 18px !important;
        line-height: 23px !important;
    }
    big,
    .big {
        font-size: 19px !important;
        line-height: 23px !important;
    }
	
	.kvmc-menu-items {
		font-size: 14px !important;
	}

 
    h1,
    .text-logo #logo,
    .p1 {
        font-size: 32px !important;
        line-height: 39px !important;
    }
    h2, .p2 {
        font-size: 29px !important;
        line-height: 35px !important;
    }
    h3, .p3 {
        font-size: 26px !important;
        line-height: 31px !important;
    }
    h4, .p4 {
        font-size: 24px !important;
        line-height: 28px !important;
    }
    h5, .p5 {
        font-size: 21px !important;
        line-height: 25px !important;
    }
    h6, .p6 {
        font-size: 19px !important;
        line-height: 22px !important;
    }
 
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 17x !important;
        line-height: 22px !important;
    }
    big,
    .big {
        font-size: 17px !important;
        line-height: 22px !important;
    }
	
	.kvmc-menu-items {
		font-size: 13px !important;
	}


    h1,
    .text-logo #logo,
    .p1{
        font-size: 28px !important;
        line-height: 33px !important;
    }
    h2, .p2 {
        font-size: 26px !important;
        line-height: 30px !important;
    }
    h3, .p3 {
        font-size: 24px !important;
        line-height: 27px !important;
    }
    h4, .p4 {
        font-size: 22px !important;
        line-height: 25px !important;
    }
    h5, .p5 {
        font-size: 20px !important;
        line-height: 23px !important;
    }
    h6, .p6 {
        font-size: 18px !important;
        line-height: 21px !important;
    }

}








/**
*
*  custom color classes
*
*/


/* kv colors */
.kv_darkblue {
color:#1D3860 !important;
}

.kv_midblue {
color:#0A5A8E !important;
}

.kv_lightblue, .kv_blue {
color: #2277bb !important;
}

.kv_white {
color: #ffffff !important;
}

.kv_background_brown70 {
background-color: rgba(166, 146, 86, 0.7);
}


.kv_background_blue85 {
background-color: rgba(34, 119, 187, 0.85);
}

.kv_background_blue {
background-color: rgba(34, 119, 187, 1.0);
}

.kv_background_darkblue {
  background-color: #1D3860;
}




/**
*
* Custom font styling
*
*
*/

.kv_400 {
   font-weight: 400 !important;
}


.kv_600 {
   font-weight: 600 !important;
}


/* Menu items */

.kvmc-menu-bar {
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding-left: 18px;
	padding-right: 18px;
}


.kvmc-menu-items {
	text-align: center;
	word-wrap: break-word;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
}


@media only screen and (max-width: 480px) {

	.kvmc-menu-bar {
		padding-left: 9px;
		padding-right: 9px;
	}
	
	.kvmc-menu-items {
		padding: 0px 4px 0px 4px;
	}

	
}





/**
*
* custom paragraphs
*
*
*/

/* a paragraph proceeded by another paragraph will have a top margin */
p.big + p.big {
    margin-top: 0.60em;
}

.mcnTextContent,
.mcnDividerBlockInner {
	padding-right: 18px !important;
	padding-left: 18px !important;
}

.mcnBoxedTextContentColumn {
	
}


@media only screen and (max-width: 480px) {
	

	.mcnTextContent,
	.mcnDividerBlockInner
	{
		padding-right: 9px !important;
		padding-left: 9px !important;
	}
	


}



/**
*
*
*  Images
*
*
*/

.kvmcImage, 
.kvmcHeaderLogo {
	vertical-align: bottom !important;
}

@media only screen and (max-width: 480px) {
	
	.kvmcImage {
		width: 100%;
	}
	
	.kvmcHeaderLogo {
		width: 75%;
	}

}


/**
*
*
*  Format share buttons
*
*/


.mcnShareBlockInner {
	padding: 0px 9px 0px 9px !important;
}

.mcnShareContentItemContainer {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

/*td*/
.mcnShareContentItemContainer {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/*table*/
.mcnShareContentItem tbody tr td {
	padding-top: 3px !important;
	padding-right: 5px !important;
	padding-bottom: 3px !important;
	padding-left: 5px !important;
}





